# Database Configuration
# Fallback local sqlite: sqlite:///./stress_db.sqlite3
DATABASE_URL=postgresql://postgres:password@localhost:5432/stress_db

# Security
SECRET_KEY=your-super-secret-key-for-development

# Integrations
GAS_URL=https://script.google.com/macros/s/AKfycbxJNtzrt4qD7Vck04DrZkNr7v735QSY6vrJwD8GjBtuv4GQggvAPqdDEcceSpebgIIUmw/exec
